<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<body>
    <center>
    <h1>404 Page not found!</h1>
    <p>
        Whoops! maybe you have landed on a page that is not meant for you.
        <br>
        Well you know what is meant for you?
        <br><br>
        <img src="images/cat.jpg" alt="cat" style="height: 400px;">
        <h1>I am!</h1>
    </p>
    <h4>Well to be honest that error is caused because of Ankit Dwivedi, we will surely punish him.</h4>
    </center>
</body>
</html>