svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

svg #heart {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: animateHeartOut .3s linear forwards;
          animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  -webkit-transform-origin: 29.5px 29.5px;
          transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #E2264D;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked + label svg #main-circ {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-animation: animateCircle .3s linear forwards;
          animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked + label svg #grp1 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp1 #oval1 {
  -webkit-transform: scale(0) translate(0, -30px);
          transform: scale(0) translate(0, -30px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp1 #oval2 {
  -webkit-transform: scale(0) translate(10px, -50px);
          transform: scale(0) translate(10px, -50px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp2 #oval1 {
  -webkit-transform: scale(0) translate(30px, -15px);
          transform: scale(0) translate(30px, -15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp2 #oval2 {
  -webkit-transform: scale(0) translate(60px, -15px);
          transform: scale(0) translate(60px, -15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp3 #oval1 {
  -webkit-transform: scale(0) translate(30px, 0px);
          transform: scale(0) translate(30px, 0px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp3 #oval2 {
  -webkit-transform: scale(0) translate(60px, 10px);
          transform: scale(0) translate(60px, 10px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp4 #oval1 {
  -webkit-transform: scale(0) translate(30px, 15px);
          transform: scale(0) translate(30px, 15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp4 #oval2 {
  -webkit-transform: scale(0) translate(40px, 50px);
          transform: scale(0) translate(40px, 50px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp5 #oval1 {
  -webkit-transform: scale(0) translate(-10px, 20px);
          transform: scale(0) translate(-10px, 20px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp5 #oval2 {
  -webkit-transform: scale(0) translate(-60px, 30px);
          transform: scale(0) translate(-60px, 30px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp6 #oval1 {
  -webkit-transform: scale(0) translate(-30px, 0px);
          transform: scale(0) translate(-30px, 0px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp6 #oval2 {
  -webkit-transform: scale(0) translate(-60px, -5px);
          transform: scale(0) translate(-60px, -5px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.checkbox:checked + label svg #grp7 #oval1 {
  -webkit-transform: scale(0) translate(-30px, -15px);
          transform: scale(0) translate(-30px, -15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.checkbox:checked + label svg #grp7 #oval2 {
  -webkit-transform: scale(0) translate(-55px, -30px);
          transform: scale(0) translate(-55px, -30px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

@-webkit-keyframes animateCircle {
  40% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    -webkit-transform: scale(11);
            transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    -webkit-transform: scale(12);
            transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    -webkit-transform: scale(13);
            transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    -webkit-transform: scale(17);
            transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    -webkit-transform: scale(18);
            transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    -webkit-transform: scale(19);
            transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateCircle {
  40% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    -webkit-transform: scale(11);
            transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    -webkit-transform: scale(12);
            transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    -webkit-transform: scale(13);
            transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    -webkit-transform: scale(17);
            transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    -webkit-transform: scale(18);
            transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    -webkit-transform: scale(19);
            transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animateHeartOut {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=heart.css.map */